<!DOCTYPE html>
<html>
<head>
  <title>Siteminder email</title>
  <script src="https://unpkg.com/vue"></script>
  <style>
    body {
        max-width: 80%;
        margin: 40px auto;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }

    .title {
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
    }

    .msg {
        text-align: center;
    }

    .msg.success {
      color: green;
    }

    .msg.fail {
      color: red;
    }

    .logo {
        width: 50px;
        margin: 0 auto;
    }

    form {
        text-align: center;
    }

    form p label {
        text-align: left;
    }

    label {
        width: 80px;
        display: inline-block;
        vertical-align: top;
    }

    input[type=text] {
        width: 382px;
        height: 18px;
    }
  </style>
</head>
<body>
  <div id="app">
    <div class="logo">
      <img src="https://www.siteminder.com/megatron-dist/media/shared/logos/sm/web-logo-pos-circle.svg" alt="siteminder logo">
    </div>
    <h1 class="title">{{ title }}</h1>
    <form id="siteminder-mail" @submit="submit">    
      <p>
        <label for="from">From</label>
        <input type="text" name="from" id="from" v-model="from" placeholder="email">
      </p>
    
      <p>
        <label for="to">To</label>
        <input type="text" name="to" id="to" v-model="to" placeholder="please split by ; if there are multiple emails.">
      </p>
    
      <p>
        <label for="cc">Cc</label>
        <input type="text" name="cc" id="cc" v-model="cc" placeholder="please split by ; if there are multiple emails.">
      </p>

      <p>
        <label for="bcc">Bcc</label>
        <input type="text" name="bcc" id="bcc" v-model="bcc" placeholder="please split by ; if there are multiple emails.">
      </p>

      <p>
        <label for="subject">Subject</label>
        <input type="text" name="subject" id="subject" v-model="subject">
      </p>

      <p>
        <label for="content">Content</label>
        <textarea name="content" rows="10" cols="60" id="content" v-model="content"></textarea>
      </p>

      <p class="msg" :class="status">{{ msg }}</p>
    
      <p>
        <input type="submit" value="Submit">
      </p>
    
    </form>
  </div>

  <script>
    var app = new Vue({
      el:'#app',
      data:{
        errors:[],
        title: 'welcome to siteminder mail',
        msg: null,
        from:null,
        to:null,
        cc: null,
        bcc: null,
        subject:null,
        content: null,
        status: null,
        formData: {}
      },
      watch: {
        from: function(from) {
          this.formData.from = {
            email: from
          }
        },
        to: function(to) {
          this.formData.to = this.formatEmails(to)
        },
        cc: function(cc) {
          this.formData.cc = this.formatEmails(cc)
        },
        bcc: function(bcc) {
          this.formData.bcc = this.formatEmails(bcc)
        },
        subject: function(subject) {
          this.formData.subject = subject
        },
        content: function(content) {
          this.formData.content = [{
            value: content,
            type: 'text/plain'
          }]
        }
      },
      methods:{
        submit:function(e) {
          e.preventDefault();
          
          var vm = this;

          // send request
          var xhr = new XMLHttpRequest();
          xhr.open("POST", '/mail/message', true);
          xhr.setRequestHeader("Content-type", "application/json");

          xhr.onreadystatechange = function() {//Call a function when the state changes.
              if(xhr.readyState == XMLHttpRequest.DONE && xhr.status == 200) {
                  // Request finished. Do processing here.
                  vm.msg = 'Email Send Succeed!';
                  vm.status = 'success';
              } else {
                  vm.msg = xhr.responseText || 'Email Send Failed!';
                  vm.status = 'fail';
              }
          }
          xhr.send(JSON.stringify(this.formData));
        },
        formatEmails: function(emails) {
          return emails.split(';').map(email => ({email: email.trim()}))
        }
      }
    })
  </script>
</body>
</html>
